@page "/"
@inject HttpClient Http
<h1>
    asda
    @id
</h1>
@code {
    private string id;
    protected override async Task OnInitializedAsync()
    {
        id = await Http.GetFromJsonAsync<string>("/maymun/1");
    }
}
