@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "~/Views/Layouts/Admin/AdminLayout.cshtml";
    var StokDurumDil = ViewBag.StokDurumDil as AlisverisSepeti.Models.StokdurumDil;
}


<table>
    <tbody>
        <tr>
            <td>
                <b>Grup Adi</b>
            </td>
            <td>
                @StokDurumDil.StokDurum

            </td>
        </tr>
        <tr>
            <td>
                <b>Açıklama</b>

            </td>

            <td>
                @StokDurumDil.StokDurumAciklama
            </td>
        </tr>
        <tr>
            <td>
                <b>Dil</b>

            </td>

            <td>
                @StokDurumDil.Dil.DilKodu

            </td>
        </tr>
        <tr>
            <td>
                <b>Dil Logo</b>
            </td>
            <td>
                <img src="~/Public/images/Diller/@StokDurumDil.Dil.DilLogo" width="200"/>
            </td>
        </tr>
       
        <tr>
            <td>
                <a class="sil" href="/admin/StokDurumDil/Delete/@StokDurumDil.StokDurumDilId">Sil</a>
                <a href="/admin/StokDurumDil/StokDurumDilForm/Update/@StokDurumDil.StokDurumDilId">Duzenle</a>
            </td>
        </tr>
    </tbody>
</table>
@Html.PartialAsync("~/Views/AdminPanel/StokDurum/Detail.cshtml",new ViewDataDictionary(this.ViewData) { { "StokDurum",StokDurumDil.StokDurumNavigation } })