@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<html>
<head>
    <title>Admin Sayfası</title>
    
</head>

<body>

    @RenderBody()
    <script>
        var array = document.getElementsByClassName("sil");
        for (var i = 0; i < array.length; i++) {
            array[i].addEventListener("click", function (e) {
                
                e.preventDefault();
                let req = new XMLHttpRequest();
                req.open("DELETE", e.srcElement.attributes["href"].nodeValue, true);
                req.onload = function () {
                    if (req.status == "200") {
                        let href = window.location.href;
                        let adminendpoint = href.search("admin/") + "admin/".length;
                        let modelendpoint = href.substring(adminendpoint).search("/");
                        if (modelendpoint == -1) {
                            window.location.reload();
                        }
                        else {
                            window.location.href = href.substring(0, adminendpoint + modelendpoint);
                        }
                        
                    }
                }
                req.send();
            });
        }
       
    </script>
</body>
</html>