@layout MainLayout
@page "/Card"
@using AlisverisSepetiB.Client.Pages.Components
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">WebSiteName</a>
        </div>
        <ul class="nav navbar-nav">
        </ul>
    </div>
</nav>

@code {
    

}
