@page "/"
@inject HttpClient http
<h1>
    @if (names == null)
    {
        @("isim yok")
    }
    else
    {
        <ul>

            @foreach (var name in names)
            {
                <li>@name</li>


            }
        </ul>
    }

</h1>
@code {
    private string[] names;
    protected override async Task OnInitializedAsync()
    {
        names = await http.GetFromJsonAsync<string[]>("Home");
    }
}
