@page "/"
@page "/Home"
@inject HttpClient http
<h1>
    @if (names == null)
    {
        @("isim yok")
    }
    else
    {
        <ul>

            @foreach (var name in names)
            {
                <li>@name</li>


            }
        </ul>
    }

</h1>
@code {
    private List<string> names;
    protected override async Task OnInitializedAsync()
    {
        names = await http.GetFromJsonAsync<List<string>>("Home");

    }
}
