@inherits LayoutComponentBase
@using AlisverisSepetiB.Client.Pages.Components
    <MudThemeProvider />
    <MudDialogProvider />
    <MudSnackbarProvider />
    <div class="page">
        <div class="sidebar">
            <NavMenu />
        </div>

        <div class="main">
            <Categories/>

            <div class="content px-4">
                @Body
            </div>
        </div>
    </div>

@code{
    
}
